<a href="https://colab.research.google.com/github/pontones/kaggle2022_credit_card/blob/main/CreditCard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Initialize scripts for using kaggle

In [1]:
!pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2022.5.18.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
!mkdir /root/.kaggle
!cp /content/drive/MyDrive/kaggle/api/kaggle.json /root/.kaggle/kaggle.json

# Download Data

In [4]:
!kaggle competitions download -c jpx-tokyo-stock-exchange-prediction -p ./jpx-tokyo-stock-exchange-prediction

Downloading jpx-tokyo-stock-exchange-prediction.zip to ./jpx-tokyo-stock-exchange-prediction
 97% 226M/233M [00:01<00:00, 157MB/s]
100% 233M/233M [00:01<00:00, 151MB/s]

# Inport Modules

In [26]:
from zipfile import ZipFile
from io import BytesIO
import pandas as pd
from pprint import pprint
import pathlib

# Loading Data

In [19]:
zf = ZipFile('/content/jpx-tokyo-stock-exchange-prediction/jpx-tokyo-stock-exchange-prediction.zip')
pprint(zf.namelist())

['data_specifications/options_spec.csv',
 'data_specifications/stock_fin_spec.csv',
 'data_specifications/stock_list_spec.csv',
 'data_specifications/stock_price_spec.csv',
 'data_specifications/trades_spec.csv',
 'example_test_files/financials.csv',
 'example_test_files/options.csv',
 'example_test_files/sample_submission.csv',
 'example_test_files/secondary_stock_prices.csv',
 'example_test_files/stock_prices.csv',
 'example_test_files/trades.csv',
 'jpx_tokyo_market_prediction/__init__.py',
 'jpx_tokyo_market_prediction/competition.cpython-37m-x86_64-linux-gnu.so',
 'stock_list.csv',
 'supplemental_files/financials.csv',
 'supplemental_files/options.csv',
 'supplemental_files/secondary_stock_prices.csv',
 'supplemental_files/stock_prices.csv',
 'supplemental_files/trades.csv',
 'train_files/financials.csv',
 'train_files/options.csv',
 'train_files/secondary_stock_prices.csv',
 'train_files/stock_prices.csv',
 'train_files/trades.csv']

In [20]:
train_financialsData = pd.read_csv(BytesIO(zf.read('train_files/financials.csv')))

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (14,15,16,17,18,19,42,44) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [21]:
train_financialsData

,DisclosureNumber,DateCode,Date,SecuritiesCode,DisclosedDate,DisclosedTime,DisclosedUnixTime,TypeOfDocument,CurrentPeriodEndDate,TypeOfCurrentPeriod,...,ForecastEarningsPerShare,ApplyingOfSpecificAccountingOfTheQuarterlyFinancialStatements,MaterialChangesInSubsidiaries,ChangesBasedOnRevisionsOfAccountingStandard,ChangesOtherThanOnesBasedOnRevisionsOfAccountingStandard,ChangesInAccountingEstimates,RetrospectiveRestatement,NumberOfIssuedAndOutstandingSharesAtTheEndOfFiscalYearIncludingTreasuryStock,NumberOfTreasuryStockAtTheEndOfFiscalYear,AverageNumberOfShares
0,2.016121e+13,20170104_2753,2017-01-04,2753.0,2017-01-04,07:30:00,1.483483e+09,3QFinancialStatements_Consolidated_JP,2016-12-31,3Q,...,319.76,NaN,False,True,False,False,False,6848800.0,－,6848800.0
1,2.017010e+13,20170104_3353,2017-01-04,3353.0,2017-01-04,15:00:00,1.483510e+09,3QFinancialStatements_Consolidated_JP,2016-11-30,3Q,...,485.36,NaN,False,True,False,False,False,2035000.0,118917,1916083.0
2,2.016123e+13,20170104_4575,2017-01-04,4575.0,2017-01-04,12:00:00,1.483499e+09,ForecastRevision,2016-12-31,2Q,...,-93.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.017010e+13,20170105_2659,2017-01-05,2659.0,2017-01-05,15:00:00,1.483596e+09,3QFinancialStatements_Consolidated_JP,2016-11-30,3Q,...,285.05,NaN,False,True,False,False,False,31981654.0,18257,31963405.0
4,2.017011e+13,20170105_3050,2017-01-05,3050.0,2017-01-05,15:30:00,1.483598e+09,ForecastRevision,2017-02-28,FY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92951,2.021112e+13,20211203_6040,2021-12-03,6040.0,2021-12-03,15:00:00,1.638511e+09,1QFinancialStatements_Consolidated_JP,2021-10-31,1Q,...,－,NaN,False,True,False,False,False,16000400.0,836400,15164000.0
92952,2.021120e+13,20211203_6898,2021-12-03,6898.0,2021-12-03,16:00:00,1.638515e+09,3QFinancialStatements_Consolidated_JP,2021-10-31,3Q,...,142.01,NaN,False,False,False,False,False,816979.0,157541,659486.0
92953,2.021120e+13,20211203_6969,2021-12-03,6969.0,2021-12-03,15:00:00,1.638511e+09,ForecastRevision,2022-03-31,FY,...,-147.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92954,2.021112e+13,20211203_8057,2021-12-03,8057.0,2021-12-03,17:00:00,1.638518e+09,1QFinancialStatements_Consolidated_JP,2021-10-20,1Q,...,330.92,NaN,False,True,False,False,False,10419371.0,614032,9805339.0
92955,2.021120e+13,20211203_9627,2021-12-03,9627.0,2021-12-03,15:30:00,1.638513e+09,2QFinancialStatements_Consolidated_JP,2021-10-31,2Q,...,234.28,NaN,False,True,False,False,False,35428212.0,200911,35260638.0

In [33]:
zf.extract('jpx_tokyo_market_prediction/__init__.py', './jpx-tokyo-stock-exchange-prediction/')
zf.extract('jpx_tokyo_market_prediction/competition.cpython-37m-x86_64-linux-gnu.so', './jpx-tokyo-stock-exchange-prediction/')

'jpx-tokyo-stock-exchange-prediction/jpx_tokyo_market_prediction/competition.cpython-37m-x86_64-linux-gnu.so'

In [36]:
dataPath = pathlib.Path('/content/jpx-tokyo-stock-exchange-prediction/jpx_tokyo_market_prediction')

In [37]:
pprint(list(dataPath.glob('*')))

[PosixPath('/content/jpx-tokyo-stock-exchange-prediction/jpx_tokyo_market_prediction/__init__.py'),
 PosixPath('/content/jpx-tokyo-stock-exchange-prediction/jpx_tokyo_market_prediction/jpx_tokyo_market_prediction'),
 PosixPath('/content/jpx-tokyo-stock-exchange-prediction/jpx_tokyo_market_prediction/competition.cpython-37m-x86_64-linux-gnu.so')]

In [47]:
import jpx-tokyo-stock-exchange-prediction.jpx_tokyo_market_prediction.make_env

SyntaxError: ignored

In [40]:
!ls .

drive  jpx-tokyo-stock-exchange-prediction  sample_data